[[source]]
url = "https://tensorflow.pypi.thoth-station.ninja/index/manylinux2010/AVX2/simple/"
verify_ssl = true
name = "redhat-aicoe-experiments"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi-org"

[packages]
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.6"

[packages.tensorflow]
index = "redhat-aicoe-experiments"
version = "==2.0.1"
